[Unit]
Description=Archdiffer Worker Service
After=rabbitmq-server.service

[Service]
User=archdiffer
Group=archdiffer
ExecStart=/usr/bin/python3 -m archdiffer.backend worker

[Install]
WantedBy=multi-user.target
