.darktheme {
	background-color: #3F4868;
    color: #E7E7EA;
    border: #E7E7EA;
}
.darktheme a, h1, h2, h3 {
	color: #E7E7EA;
}

.middletheme {
	background-color: #E7E7EA;
    color: #3F4868;
    border: #3F4868;
}
.lighttheme {
	background-color: white;
    border: #E7E7EA;
}
.lighttheme h1, h2, h3 {
	color: #3F4868;
}

body {
    font-family: sans-serif;
}
h1				{ font-size: 1.7em; }
h2				{ font-size: 1.5em; }
table, th, td 	{ border: 1px solid black; }
th, td			{ text-align: left; }
tr:hover 		{ background-color: #E7E7EA; }

.metanav {
	text-align: right;
	font-size: 0.8em;
	padding: 0.3em;
	margin-bottom: 1em;
}
.nav {
    position:fixed;
    overflow:auto;
    left:0; top:0; bottom:0;
    width: 20em;
}
.menulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menuitem a {
    display: block;
    width: 18em;
    padding: 1em 1em;
    text-decoration: none;
}
.menuitem a:hover {
    background-color: #2F354B;
}
.content, .header {
    margin-left: 20em;
    padding: 2em;
}
.header {
    border-bottom-style: solid;
}
table {
    border-collapse: collapse;
    width: 100%;
}

.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
.wrapper		{ width:50em; overflow:hidden; }
.left 			{ width:25em; float:left; }
.right			{ width:25em; float:right; }


