<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Comparison Type</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% for comp in comparisons %}
    <tr>
      <td>
        <a href="{{ url_for(comp['comparison_type']['name'] + '.show_group', id=comp['id']) }}" class="btn btn-primary" role="button">{{ comp['id'] }}</a>
      </td>
      <td>{{ comp['time'] }}</td>
      <td><a href="{{ url_for('index') + comp['comparison_type']['name'] }}">{{ comp['comparison_type']['name'] }}</td>
      <td>{{ comp['state'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
