{% extends "layout.html" %}
{% block body %}
  <h2 class="sub-header">Create Profile</h2>
  <p>
    Hey! This is the first time you signed in on this website. In
    order to proceed we need a couple of more information from you:
  </p>
  <form action="" method="post">
    <fieldset>
      <div class="form-group">
        <label for="username">Username:</label><br>
        <input type="text" name="username" size=30 value="{{ request.values.username }}">
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </fieldset>
    <button type="submit" class="btn btn-default">Create profile</button>
  </form>
{% endblock %}
