{% extends "layout.html" %}
{% block body %}
  <h2 class="sub-header">Login</h2>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method="post">
    <fieldset>
      <div class="form-group">
        <label for="openid">OpenID:</label><br>
        <input type="text" name="openid" size=30>
        <input type="hidden" name="next" value="{{ next }}">
      </div>
    </fieldset>
    <button type="submit" class="btn btn-default">Sign in</button>
  </form>
{% endblock %}
